
<div class="featured-prod">
  <div class="featured-prod-box flex-box flex-row flex-nowrap flex-around control-red">
    <div class="flex-i-auto carusel-item" *ngFor="let card of cards">
      <div class="img-wrapper">
      <img src="{{card.imgSrc}}" alt="{{card.alt}}">
      <div class="prod-card-nav">
      <div class="prod-title">
        <label>{{card.title}}</label><br>
        <label>{{card.discription}}</label>
      </div>
      <div class="prod-nav flex-box flex-row flex-nowrap">
        <div class="flex-i flex-1_5 flex-center alink">
          <i class="material-icons">swap_horiz</i>
        </div>
        <div class="flex-i flex-1_5 flex-center alink">
          <a href="#">
            <img src="src/img/icons/gift.png">
          </a>
        </div>
        <div class="flex-i flex-1_5 flex-center alink">
          <a href="#">
            <img src="src/img/icons/shop_cart.png">
          </a>
        </div>
        <div class="flex-i flex-2_5 flex-center alink bg-red prise-box">
          <span class="prise">$99.00 </span>
        </div>
      </div>
        </div>
      </div>
    </div>    
  </div>
</div>