
  <div class="flex-box flex-row flex-nowrap head-of-block">
  <div class="flex-start flex-cross-end flex-i-default">
    <label class="title-1 ph-mrg-left-30">New Products</label>
  </div>
  <!--<div class="flex-end flex-cross-end flex-i-default">
    <button class="btn-control bg-blue"><i class="material-icons">keyboard_arrow_left</i></button>
      <button class="btn-control bg-darkgrey"><i class="material-icons">keyboard_arrow_right</i></button>
  </div>-->
</div> 
  <app-carusel-new-prod></app-carusel-new-prod>

  <div class="flex-box flex-row flex-nowrap head-of-block ph-mrg-top-65">
  <div class="flex-start flex-cross-end flex-i-default">
    <label class="title-1 ph-mrg-left-30">Featured Products</label>
  </div>
  
</div> 
<app-featured-products></app-featured-products>



  

