<!--start first flex-row-->
<div class="e-flex-box-row">
  <div class="e-flex-item">
    <img src="src/img/MensWear.png" alt="mens wear">
  </div>
  <div class="e-flex-item">
    <div class="e-flex-box-col">
      <div class="e-flex-item">
        <img src="src/img/WomensWear.png" alt="Womens wear">
      </div>
      <div class="e-flex-item">
        <img src="src/img/ChildrenWear.png" alt="Childrens wear">
      </div>
    </div>
  </div>
</div>
<!--end first flex-row-->

<!--start second flex-row-->
<div class="e-flex-box-row">
  <div class="e-flex-item">
    <div class="e-flex-box-col">

      <div class="e-flex-item ">
        <div class="serch-panel-wrapper">
          <span class="serch-panel"><input type="text" placeholder="Search your product here ( e.g.: Silver diamond ring )"></span>
        </div>
      </div>
      <div class="e-flex-item">

        <img src="src/img/crafts.png" alt="Childrens wear">
      </div>
    </div>

  </div>
  <div class="e-flex-item">

    <img src="src/img/jewery.png" alt="mens wear">

  </div>

</div>
<!--end second flex-row-->